# **TASKS**

## **IMPORTING MODULES**

In [68]:
import pandas as pd
import numpy as np

1. Data Understanding & Loading

• Import data from all three sources (CSV, JSON, and SQL).

• Display top 5 records and data info summary.

• Identify data types, missing values, and inconsistent records.

- **IMPORTING ALL FILES**

In [69]:
# Importing csv file

data = pd.read_csv("users.csv")

In [70]:
# Importing json file

data_json = pd.read_json("sales.json")

In [71]:
# Importing sql file

import sqlite3

conn = sqlite3.connect("inventory.sql")

- **Displaying top 5 records and data info summary**

In [72]:
# From csv file

print(f"Data Info: {data.info()}")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   user_id            200 non-null    object
 1   name               200 non-null    object
 2   age                200 non-null    int64
 3   gender             200 non-null    object
 4   city               200 non-null    object
 5   registration_date  200 non-null    object
dtypes: int64(1), object(5)
memory usage: 9.5+ KB
Data Info: None

In [73]:
print(f"Data Summary: {data.describe()}")

Data Summary:               age
count  200.000000
mean    31.260000
std      7.270951
min     18.000000
25%     26.000000
50%     31.500000
75%     35.250000
max     53.000000

In [74]:
print(f"Top 5 Data: {data.head()}")

Top 5 Data:   user_id           name  age gender       city registration_date
0   U0001  Vihaan Sharma   35  Other     Jaipur        08-09-2022
1   U0002      Sai Reddy   30  Other  Hyderabad        24-11-2023
2   U0003   Aarohi Gupta   37  Other     Indore        02-02-2022
3   U0004    Aarav Gupta   44   Male    Kolkata        02-06-2023
4   U0005    Sara Sharma   30  Other    Chennai        04-01-2024

In [75]:
# Identifying data types

print(f"Data Types: {data.dtypes}")
print("\n")
# Identifying missing values

print(f"Missing Values: {data.isnull().sum()}")
print("\n")

# Identifying inconsistent records

print(f"Inconsistent Records: {data.nunique()}")

Data Types: user_id              object
name                 object
age                   int64
gender               object
city                 object
registration_date    object
dtype: object


Missing Values: user_id              0
name                 0
age                  0
gender               0
city                 0
registration_date    0
dtype: int64


Inconsistent Records: user_id              200
name                 160
age                   32
gender                 3
city                  20
registration_date    188
dtype: int64

2. Data Cleaning

• Handle missing numerical data using SimpleImputer (mean strategy).

• Handle missing categorical data using most frequent imputation.

• Apply KNN Imputer on multivariate data (optional enhancement).

• Fix invalid or inconsistent entries (e.g., wrong date formats, negative prices, etc.).

In [76]:
# Handling missing numerical data using simple imputation (mean)

from sklearn.impute import SimpleImputer

imputer = SimpleImputer(strategy="mean")
numerical_cols = data.select_dtypes(include=[np.number]).columns
data[numerical_cols] = imputer.fit_transform(data[numerical_cols])
print(f"Data after handling missing numerical data: {data.head()}")

Data after handling missing numerical data:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        08-09-2022
1   U0002      Sai Reddy  30.0  Other  Hyderabad        24-11-2023
2   U0003   Aarohi Gupta  37.0  Other     Indore        02-02-2022
3   U0004    Aarav Gupta  44.0   Male    Kolkata        02-06-2023
4   U0005    Sara Sharma  30.0  Other    Chennai        04-01-2024

In [77]:
# Handling missing categorical data using simple imputation (most frequent)

imputer_cat = SimpleImputer(strategy="most_frequent")
categorical_cols = data.select_dtypes(include=['object']).columns
data[categorical_cols] = imputer_cat.fit_transform(data[categorical_cols])
print(f"Data after handling missing categorical data: {data.head()}")

Data after handling missing categorical data:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        08-09-2022
1   U0002      Sai Reddy  30.0  Other  Hyderabad        24-11-2023
2   U0003   Aarohi Gupta  37.0  Other     Indore        02-02-2022
3   U0004    Aarav Gupta  44.0   Male    Kolkata        02-06-2023
4   U0005    Sara Sharma  30.0  Other    Chennai        04-01-2024

In [78]:
# Applying KNN imputer on multivariate data

from sklearn.impute import KNNImputer

numeric_cols = data.select_dtypes(include=['int64', 'float64']).columns
numeric_data = data[numeric_cols]

imputer = KNNImputer(n_neighbors=3)
numeric_imputed = imputer.fit_transform(numeric_data)

numeric_imputed = pd.DataFrame(numeric_imputed, columns=numeric_cols)
print("Data after KNN Imputation:")
print(numeric_imputed.head())

Data after KNN Imputation:
    age
0  35.0
1  30.0
2  37.0
3  44.0
4  30.0

In [79]:
# Fixing invalid and inconsistent data entries(e.g., wrong date formats, negative prices, etc)
data['registration_date'] = pd.to_datetime(data['registration_date'], errors='coerce')
print(f"Data after fixing invalid entries: {data.head()}")

Data after fixing invalid entries:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01

3. Outlier Handling

• Detect and remove outliers using Z-score and IQR method.

• Compare both techniques and decide which is more suitable for this dataset.

• Apply Winsorization for columns where removal isn't feasible.

In [80]:
# Detecting and removing outliers using Z-score method and IQR method

from scipy import stats

z_scores = np.abs(stats.zscore(data.select_dtypes(include=[np.number])))
filtered_entries = (z_scores < 3).all(axis=1)
data_no_outliers_z = data[filtered_entries]
print(f"Data after removing outliers using Z-score method: {data_no_outliers_z.head()}")
print("\n")

# Detecting and removing outliers using IQR method

Q1 = data.select_dtypes(include=[np.number]).quantile(0.25)
Q3 = data.select_dtypes(include=[np.number]).quantile(0.75)
IQR = Q3 - Q1
filtered_entries_iqr = ~((data.select_dtypes(include=[np.number]) < (Q1 - 1.5 * IQR)) |(data.select_dtypes(include=[np.number]) > (Q3 + 1.5 * IQR))).any(axis=1)
data_no_outliers_iqr = data[filtered_entries_iqr]
print(f"Data after removing outliers using IQR method: {data_no_outliers_iqr.head()}")

Data after removing outliers using Z-score method:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01


Data after removing outliers using IQR method:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01

In [81]:
# Compapring both the techniques and deciding which is more suitable for the dataset

print(f"Original Data Shape: {data.shape}")
print(f"Data Shape after Z-score Outlier Removal: {data_no_outliers_z.shape}")
print(f"Data Shape after IQR Outlier Removal: {data_no_outliers_iqr.shape}")

Original Data Shape: (200, 6)
Data Shape after Z-score Outlier Removal: (200, 6)
Data Shape after IQR Outlier Removal: (198, 6)

In [82]:
# Applying winzorization for columns where removal isnt feasible

from scipy.stats.mstats import winsorize

winsorized_data = data.copy()
numeric_cols = winsorized_data.select_dtypes(include=[np.number]).columns
for col in numeric_cols:
    winsorized_data[col] = winsorize(winsorized_data[col], limits=[0.05, 0.05])
print(f"Data after Winsorization: {winsorized_data.head()}")

Data after Winsorization:   user_id           name   age gender       city registration_date
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01

4. Data Transformation

• Convert date columns into separate day, month, year features.

- Encode categorical variables using:
    
    - Label Encoding for binary columns.
    - One-Hot Encoding for nominal columns.
    - Ordinal Encoding for ordered categorical variables.

• Apply binning (e.g., segment customers into spending groups: Low, Medium, High).

• Apply log and square root transformations to normalize skewed data.

In [83]:
# Converting date columns into separate day, month, year columns

data['registration_day'] = data['registration_date'].dt.day
data['registration_month'] = data['registration_date'].dt.month
data['registration_year'] = data['registration_date'].dt.year
print(f"Data after extracting date components: {data.head()}")

Data after extracting date components:   user_id           name   age gender       city registration_date  \
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01

   registration_day  registration_month  registration_year
0               9.0                 8.0             2022.0
1               NaN                 NaN                NaN
2               2.0                 2.0             2022.0
3               6.0                 2.0             2023.0
4               1.0                 4.0             2024.0

In [84]:
# Encoding categorical variables using:

# Lable Encoding for binary columns.

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
binary_cols = [col for col in data.select_dtypes(include=['object']).columns if data[col].nunique() == 2]
for col in binary_cols:
    data[col] = le.fit_transform(data[col])
print(f"Data after Label Encoding: {data.head()}")

Data after Label Encoding:   user_id           name   age gender       city registration_date  \
0   U0001  Vihaan Sharma  35.0  Other     Jaipur        2022-08-09
1   U0002      Sai Reddy  30.0  Other  Hyderabad               NaT
2   U0003   Aarohi Gupta  37.0  Other     Indore        2022-02-02
3   U0004    Aarav Gupta  44.0   Male    Kolkata        2023-02-06
4   U0005    Sara Sharma  30.0  Other    Chennai        2024-04-01

   registration_day  registration_month  registration_year
0               9.0                 8.0             2022.0
1               NaN                 NaN                NaN
2               2.0                 2.0             2022.0
3               6.0                 2.0             2023.0
4               1.0                 4.0             2024.0

In [85]:
# One-Hot Encoding for nominal columns.

from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse_output=False, drop='first')
nominal_cols = [col for col in data.select_dtypes(include=['object']).columns if data[col].nunique() > 2]
ohe_data = pd.DataFrame(ohe.fit_transform(data[nominal_cols]), columns=ohe.get_feature_names_out(nominal_cols))
data = pd.concat([data.drop(columns=nominal_cols), ohe_data], axis=1)
print(f"Data after One-Hot Encoding: {data.head()}")

Data after One-Hot Encoding:     age registration_date  registration_day  registration_month  \
0  35.0        2022-08-09               9.0                 8.0
1  30.0               NaT               NaN                 NaN
2  37.0        2022-02-02               2.0                 2.0
3  44.0        2023-02-06               6.0                 2.0
4  30.0        2024-04-01               1.0                 4.0

   registration_year  user_id_U0002  user_id_U0003  user_id_U0004  \
0             2022.0            0.0            0.0            0.0
1                NaN            1.0            0.0            0.0
2             2022.0            0.0            1.0            0.0
3             2023.0            0.0            0.0            1.0
4             2024.0            0.0            0.0            0.0

   user_id_U0005  user_id_U0006  ...  city_Kolkata  city_Lucknow  city_Mumbai  \
0            0.0            0.0  ...           0.0           0.0          0.0
1            0.0            0.0  ...           0.0           0.0          0.0
2            0.0            0.0  ...           0.0           0.0          0.0
3            0.0            0.0  ...           1.0           0.0          0.0
4            1.0            0.0  ...           0.0           0.0          0.0

   city_Nagpur  city_Patna  city_Pune  city_Surat  city_Thane  city_Vadodara  \
0          0.0         0.0        0.0         0.0         0.0            0.0
1          0.0         0.0        0.0         0.0         0.0            0.0
2          0.0         0.0        0.0         0.0         0.0            0.0
3          0.0         0.0        0.0         0.0         0.0            0.0
4          0.0         0.0        0.0         0.0         0.0            0.0

   city_Visakhapatnam
0                 0.0
1                 0.0
2                 0.0
3                 0.0
4                 0.0

[5 rows x 384 columns]

In [86]:
# Ordinal Encoding for ordered categorical variables.
# e.g., customer_loyalty_level with order Bronze < Silver < Gold < Platinum
from sklearn.preprocessing import OrdinalEncoder

if 'customer_loyalty_level' in data.columns:
    mapping = [['Bronze', 'Silver', 'Gold', 'Platinum']]
    oe = OrdinalEncoder(categories=mapping)
    data['customer_loyalty_level_encoded'] = oe.fit_transform(data[['customer_loyalty_level']])
else:
    print("No 'customer_loyalty_level' column for ordinal encoding - skipping.")

No 'customer_loyalty_level' column for ordinal encoding - skipping.

In [87]:
# Applying binning (e.g., segment customers into spending groups: Low, Medium, High).

data_json['spending_group_q'] = pd.qcut(data_json['amount'].fillna(data_json['amount'].mean()), q=3, labels=['Low', 'Medium', 'High'])
print(f"Data after Binning: {data_json.head()}")

Data after Binning:   transaction_id user_id product_id  amount payment_type       date  \
0        T000001   U0024       P015   67.67       Wallet 2023-02-12
1        T000002   U0196       P044   76.44          UPI 2023-03-24
2        T000003   U0196       P049  104.57   Debit Card 2025-08-21
3        T000004   U0133       P042  102.75  Net Banking 2024-07-23
4        T000005   U0047       P038   23.89  Net Banking 2025-10-04

  spending_group_q
0           Medium
1             High
2             High
3             High
4              Low

In [88]:
# Applying log and square root transformations to normalize skewed data.
skewed_cols = data.select_dtypes(include=[np.number]).columns
for col in skewed_cols:
    if (data[col] > 0).all():
        data[f'{col}_log'] = np.log(data[col] + 1)
        data[f'{col}_sqrt'] = np.sqrt(data[col])
print(f"Data after Transformations: {data.head()}")

Data after Transformations:     age registration_date  registration_day  registration_month  \
0  35.0        2022-08-09               9.0                 8.0
1  30.0               NaT               NaN                 NaN
2  37.0        2022-02-02               2.0                 2.0
3  44.0        2023-02-06               6.0                 2.0
4  30.0        2024-04-01               1.0                 4.0

   registration_year  user_id_U0002  user_id_U0003  user_id_U0004  \
0             2022.0            0.0            0.0            0.0
1                NaN            1.0            0.0            0.0
2             2022.0            0.0            1.0            0.0
3             2023.0            0.0            0.0            1.0
4             2024.0            0.0            0.0            0.0

   user_id_U0005  user_id_U0006  ...  city_Mumbai  city_Nagpur  city_Patna  \
0            0.0            0.0  ...          0.0          0.0         0.0
1            0.0            0.0  ...          0.0          0.0         0.0
2            0.0            0.0  ...          0.0          0.0         0.0
3            0.0            0.0  ...          0.0          0.0         0.0
4            1.0            0.0  ...          0.0          0.0         0.0

   city_Pune  city_Surat  city_Thane  city_Vadodara  city_Visakhapatnam  \
0        0.0         0.0         0.0            0.0                 0.0
1        0.0         0.0         0.0            0.0                 0.0
2        0.0         0.0         0.0            0.0                 0.0
3        0.0         0.0         0.0            0.0                 0.0
4        0.0         0.0         0.0            0.0                 0.0

    age_log  age_sqrt
0  3.583519  5.916080
1  3.433987  5.477226
2  3.637586  6.082763
3  3.806662  6.633250
4  3.433987  5.477226

[5 rows x 386 columns]

5. Feature Scaling

• Use StandardScaler and MinMaxScaler to scale numerical features.

• Compare the effect of scaling using summary statistics.

In [89]:
# Using StandardScaler to scale numerical features
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_cols = data.select_dtypes(include=[np.number]).columns
data[numeric_cols] = scaler.fit_transform(data[numeric_cols])
print(f"Data after Standard Scaling: {data.head()}")

Data after Standard Scaling:         age registration_date  registration_day  registration_month  \
0  0.515666        2022-08-09          0.825118            0.380091
1 -0.173727               NaT               NaN                 NaN
2  0.791424        2022-02-02         -1.203465           -1.330320
3  1.756575        2023-02-06         -0.044275           -1.330320
4 -0.173727        2024-04-01         -1.493263           -0.760183

   registration_year  user_id_U0002  user_id_U0003  user_id_U0004  \
0          -0.968400      -0.070888      -0.070888      -0.070888
1                NaN      14.106736      -0.070888      -0.070888
2          -0.968400      -0.070888      14.106736      -0.070888
3           0.276686      -0.070888      -0.070888      14.106736
4           1.521772      -0.070888      -0.070888      -0.070888

   user_id_U0005  user_id_U0006  ...  city_Mumbai  city_Nagpur  city_Patna  \
0      -0.070888      -0.070888  ...    -0.190445    -0.217072   -0.252646
1      -0.070888      -0.070888  ...    -0.190445    -0.217072   -0.252646
2      -0.070888      -0.070888  ...    -0.190445    -0.217072   -0.252646
3      -0.070888      -0.070888  ...    -0.190445    -0.217072   -0.252646
4      14.106736      -0.070888  ...    -0.190445    -0.217072   -0.252646

   city_Pune  city_Surat  city_Thane  city_Vadodara  city_Visakhapatnam  \
0  -0.217072   -0.160128   -0.217072      -0.274352           -0.175863
1  -0.217072   -0.160128   -0.217072      -0.274352           -0.175863
2  -0.217072   -0.160128   -0.217072      -0.274352           -0.175863
3  -0.217072   -0.160128   -0.217072      -0.274352           -0.175863
4  -0.217072   -0.160128   -0.217072      -0.274352           -0.175863

    age_log  age_sqrt
0  0.588073  0.556828
1 -0.059989 -0.116002
2  0.822397  0.812378
3  1.555165  1.656358
4 -0.059989 -0.116002

[5 rows x 386 columns]

In [90]:
# Using MinMaxScaler to scale numerical features
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
numeric_cols = data.select_dtypes(include=[np.number]).columns
data[numeric_cols] = scaler.fit_transform(data[numeric_cols])
print(f"Data after Min-Max Scaling: {data.head()}")

Data after Min-Max Scaling:         age registration_date  registration_day  registration_month  \
0  0.485714        2022-08-09          0.727273            0.636364
1  0.342857               NaT               NaN                 NaN
2  0.542857        2022-02-02          0.090909            0.090909
3  0.742857        2023-02-06          0.454545            0.090909
4  0.342857        2024-04-01          0.000000            0.272727

   registration_year  user_id_U0002  user_id_U0003  user_id_U0004  \
0                0.0            0.0            0.0            0.0
1                NaN            1.0            0.0            0.0
2                0.0            0.0            1.0            0.0
3                0.5            0.0            0.0            1.0
4                1.0            0.0            0.0            0.0

   user_id_U0005  user_id_U0006  ...  city_Mumbai  city_Nagpur  city_Patna  \
0            0.0            0.0  ...          0.0          0.0         0.0
1            0.0            0.0  ...          0.0          0.0         0.0
2            0.0            0.0  ...          0.0          0.0         0.0
3            0.0            0.0  ...          0.0          0.0         0.0
4            1.0            0.0  ...          0.0          0.0         0.0

   city_Pune  city_Surat  city_Thane  city_Vadodara  city_Visakhapatnam  \
0        0.0         0.0         0.0            0.0                 0.0
1        0.0         0.0         0.0            0.0                 0.0
2        0.0         0.0         0.0            0.0                 0.0
3        0.0         0.0         0.0            0.0                 0.0
4        0.0         0.0         0.0            0.0                 0.0

    age_log  age_sqrt
0  0.611826  0.550932
1  0.468671  0.406452
2  0.663588  0.605808
3  0.825454  0.787040
4  0.468671  0.406452

[5 rows x 386 columns]

In [91]:
# Comparing the effect of scaling using summary statistics.
print("Summary Statistics after Standard Scaling:")
(data.describe())

Summary Statistics after Standard Scaling:

,age,registration_date,registration_day,registration_month,registration_year,user_id_U0002,user_id_U0003,user_id_U0004,user_id_U0005,user_id_U0006,...,city_Mumbai,city_Nagpur,city_Patna,city_Pune,city_Surat,city_Thane,city_Vadodara,city_Visakhapatnam,age_log,age_sqrt
count,200.000000,72,72.000000,72.000000,72.000000,200.000000,200.000000,200.000000,200.000000,200.000000,...,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000,200.000000
mean,0.378857,2023-04-06 19:00:00,0.468434,0.515152,0.388889,0.005000,0.005000,0.005000,0.005000,0.005000,...,0.035000,0.045000,0.060000,0.045000,0.025000,0.045000,0.070000,0.030000,0.481923,0.431362
min,0.000000,2022-01-06 00:00:00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.228571,2022-08-27 00:00:00,0.181818,0.272727,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.336412,0.281938
50%,0.385714,2023-02-08 12:00:00,0.454545,0.545455,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.513796,0.450924
75%,0.492857,2023-12-05 06:00:00,0.727273,0.818182,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.618384,0.557839
max,1.000000,2024-12-03 00:00:00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
std,0.207741,NaN,0.315900,0.321140,0.404397,0.070711,0.070711,0.070711,0.070711,0.070711,...,0.184241,0.207824,0.238083,0.207824,0.156517,0.207824,0.255787,0.171015,0.221451,0.215274

6. Feature Construction

- Create new features such as:
    - Average monthly spend per customer.
    - Frequency of purchase.
    - Days since last purchase.

In [92]:
# Creating new features such as:
    # - Average monthly spend per customer.
from datetime import datetime
data['registration_months'] = (datetime.now().year - data['registration_year']) * 12 + (datetime.now().month - data['registration_month'])
print(f"Data after creating new features: {data.head()}")

Data after creating new features:         age registration_date  registration_day  registration_month  \
0  0.485714        2022-08-09          0.727273            0.636364
1  0.342857               NaT               NaN                 NaN
2  0.542857        2022-02-02          0.090909            0.090909
3  0.742857        2023-02-06          0.454545            0.090909
4  0.342857        2024-04-01          0.000000            0.272727

   registration_year  user_id_U0002  user_id_U0003  user_id_U0004  \
0                0.0            0.0            0.0            0.0
1                NaN            1.0            0.0            0.0
2                0.0            0.0            1.0            0.0
3                0.5            0.0            0.0            1.0
4                1.0            0.0            0.0            0.0

   user_id_U0005  user_id_U0006  ...  city_Nagpur  city_Patna  city_Pune  \
0            0.0            0.0  ...          0.0         0.0        0.0
1            0.0            0.0  ...          0.0         0.0        0.0
2            0.0            0.0  ...          0.0         0.0        0.0
3            0.0            0.0  ...          0.0         0.0        0.0
4            1.0            0.0  ...          0.0         0.0        0.0

   city_Surat  city_Thane  city_Vadodara  city_Visakhapatnam   age_log  \
0         0.0         0.0            0.0                 0.0  0.611826
1         0.0         0.0            0.0                 0.0  0.468671
2         0.0         0.0            0.0                 0.0  0.663588
3         0.0         0.0            0.0                 0.0  0.825454
4         0.0         0.0            0.0                 0.0  0.468671

   age_sqrt  registration_months
0  0.550932         24310.363636
1  0.406452                  NaN
2  0.605808         24310.909091
3  0.787040         24304.909091
4  0.406452         24298.727273

[5 rows x 387 columns]

C:\Users\dhruv\AppData\Local\Temp\ipykernel_3192\679014860.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data['registration_months'] = (datetime.now().year - data['registration_year']) * 12 + (datetime.now().month - data['registration_month'])

In [93]:
# Frequency of purchase.

freq_df = data_json.groupby('user_id').size().reset_index(name='purchase_frequency')
print(f"Frequency of Purchase Data: {freq_df.head()}")

Frequency of Purchase Data:   user_id  purchase_frequency
0   U0001                   3
1   U0002                   6
2   U0003                   4
3   U0004                   3
4   U0005                   6

In [94]:
# Days since last purchase.

last_purchase = data_json.groupby('user_id')['date'].max().reset_index(name='last_purchase_date')
last_purchase['days_since_last_purchase'] = (pd.Timestamp.today() - last_purchase['last_purchase_date']).dt.days
print(f"Days Since Last Purchase Data: {last_purchase.head()}")

Days Since Last Purchase Data:   user_id last_purchase_date  days_since_last_purchase
0   U0001         2024-08-20                       461
1   U0002         2024-04-27                       576
2   U0003         2025-11-01                        23
3   U0004         2024-04-03                       600
4   U0005         2025-06-22                       155